<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>

	<div class="navbar_div">
		<table class="navbar_table">
			<tr>
				<td><h2>Blogging Site</h2></td>
				<td class="navbar_td"><a href="/">Home</a></td>
				<td class="navbar_td"><a href="/blogs/new">Post</a></td>
			</tr>
		</table>
	</div>

	<div class="postings">
		<div><h2>Edit {{blog.title}}</h2></div>
		<form action="/blogs/{{blog._id}}?_method=put" method="POST" class="blog_form">
			<div class="inputfield">
				<label class="form_label">Title:</label>
				<input type="text" name="title" value="{{blog.title}}" class="textfield">
			</div>
			<div class="inputfield">
				<label class="form_label">Image:</label>
				<input type="text" name="image" value="{{blog.image}}" class="textfield">
			</div>
			<div class="inputarea">
				<label class="form_label">Body:</label>
				<textarea name="body" class="textarea">{{blog.body}}</textarea>
			</div>
			<div class="inputfield">
				<label class="form_label">Author:</label>
				<input type="text" name="author" value="{{blog.author}}" class="textfield">
			</div>
			<div class="inputfield">
				<button class="form_button">Submit</button>
			</div>
		</form>
	</div>


</body>
</html>